* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  img {
    width: 100%;
  }
  ul li {
    list-style: none;
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
}
